<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Slider</title>

    <link rel="stylesheet" href="/static/styles/main.css"/>
</head>
<body>
<div class="container">
    <div class="about">
        <h1 class="about__title">Experience</h1>

        <p class="about__subtitle">
            This stuff has been specified in components
            <br>
            on commercial and military aircraft for more than 25 years
        </p>

        <p class="about__describe">We know the best results come when we partner with manufacturers and use our
            expertise to help
            <br>
            take components and systems from inception to production and to market.
        </p>
    </div>
    <div class="quotes"></div>
</div>

<script src="/static/bower_components/jquery/dist/jquery.js"></script>
<script src="/static/scripts/slider.js"></script>
</body>
</html>