.about {
  padding: 20px 20px 55px;
  text-align: left;

  &__title {
    font-size: 2.1em;
    font-weight: normal;
  }

  &__subtitle {
    font-size: 1.8em;
    font-weight: 300;
    margin-top: 20px;
  }

  &__describe {
    font-size: 1.5em;
  }
}

.quote {
  &__content {
    padding: 0 20px;
    text-align: left;
  }

  &__text {
    padding: 20px 0 0;
    font-size: 1.8em;
  }

  &__author {
    font-size: 1.3em;
    text-align: left;
    padding: 0 20px;

    &:before, &:after {
      content: "";
    }
  }

  &__plus-btn {
    display: none;
  }
}

.bx-controls-direction {
  display: none;
}

.bx-wrapper {
  margin-bottom: 40px;
}